body{
    width:80%;
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
}
button{
    margin: auto;
    display: block;
    width: 150px;
    height: 30px;
}
h1{
    text-align: center;
}
img{
    display: block;
    margin:auto;
}